{% extends './business/base_fixed_footer.html' %}
{% load static %}


{% block title %}
 Delete 
{% endblock %}

{% block content %}


<div class=" ">
  <img src="{% static 'logos/logob2.png' %}" height="100px" width="100px" class="rounded mx-auto d-block" alt="...">
</div>

            <div class="container  d-flex justify-content-center align-items-center" dir="rtl">

                <div class="d-flex flex-column border border-dark">
    <div class="p-2"><h1 class="text-center">حذف عمل </h1></div>
      <div class="p-2"><h4 class="text-right">هل أنت متأكد من حذف: {{ object.name }} </h4></div>
      <div class="p-2  d-flex justify-content-center "> 
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
          <a href="{% url 'business_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
  </div>
</div>


{% endblock %}